body {
 box-sizing: border-box;
 background-color: rgb(146, 146, 146);
 width: 100%;
 margin: auto;

}

.warp {
    width: 1440px;
    margin: auto;
    background-color: #ffffff;
}

header{
    background: #0C0C0E;
    display: flex;
    width: 1440px;
    height: 90px;
}

.headtext{
   color: #ffffff;
   font-family: 'Forum', cursive;
   font-size: 30px;
   font-weight: 400;
   margin-left: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   letter-spacing: 0.6px;
   text-align: center;
   line-height:50px;
   letter-spacing: 0.6px;
}

.navbutton{
    display: flex;
    color: #FFF;
    margin: auto 0px auto auto; 
}

.nav-button-list{
    display: flex;
}

.nav-button{
     color: #FFF;
     font-family: 'Inter', sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 50px;
     list-style: none;
     text-decoration: none;
     margin: auto 15px auto 15px;
}

a {
    text-decoration:none;
  }

.profil {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    position: relative;
    margin: 31px 20px 31px 25px;  
}

.welcome{
    width: 1440px;
    height: 600px;
}

.welcome-background{
    width: 1440px;
    height: 600px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(image/fonlib.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.welcome-background-text{
    display: flex;
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
    margin: 220px 840px 160px auto;
}

.welcome-text{
    width: 520px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h2{
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}

.linetext{
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    margin-top: -14px;
}

.about{
    background-color: #FFF;
}

.about-text{
    width: 1440px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    margin-top: 40px;
}

.about-img{
    justify-content: space-around;
}

.slider{
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    margin-left: 21px;
    margin-top: 19px;
}

.slider-button {
    display: flex;
    justify-content: center;
}

.slider-button-back{
    background-color: #fff;
    padding: 5px;
    margin-top: 31px;
    margin-bottom: 31px;
    cursor:pointer;
}

.slider-button-one {
    background-color: #BB945F;
    padding: 8px;
    border-radius: 50px;
}

.slider-button-two {
    background-color: #0C0C0E;
    padding: 8px;
    border-radius: 50px;
}

.slider-button-three {
    background-color: #0C0C0E;
    padding: 8px;
    border-radius: 50px;
}